@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap');

:root {
  color: #0f172a;
  background-color: #f6f8f7;
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  background-color: #f6f8f7;
  color: #0f172a;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
